@import url("https://api.fontshare.com/v2/css?f[]=clash-grotesk@1&f[]=general-sans@1&display=swap");

:root {
  font-size: 14px;
  --lightgrey: rgb(236, 236, 236);
  --medgrey: rgb(181, 181, 181);
  --orange: rgb(255, 132, 44);
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "General Sans", sans-serif;
  font-weight: 450;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Clash Grotesk", sans-serif;
  /* font-weight: 600; */
}

.container {
  width: 100vw;
  min-height: 100svh;
  display: grid;
  grid-template-columns: 240px 1fr;
}

/* SIDEBAR */
.sidebar {
  /* background: var(--lightgrey); */
  border-right: 1px solid var(--lightgrey);
  padding: 1rem;
}

.sidebar ul {
  list-style-type: none;
  display: grid;
  gap: 0.6rem;
}

.nav {
  margin-top: 3rem;
}

.nav-item {
  display: grid;
  grid-template-columns: 48px 1fr;
  padding: 0.5rem;
  background: var(--medgrey);
  border-radius: 12px;
  font-weight: 500;
  align-items: center;
}

.nav-item-icon {
  display: grid;
  place-content: center center;
  height: 40px;
}

/* HEADER */
.header {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  border-bottom: 1px solid var(--lightgrey);
}

.header-search {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.header-search input {
  background: var(--lightgrey);
  border: none;
  border-radius: 999px;
  padding: 0.5rem 1rem;
}

.header-search input:focus {
  outline: 1px solid var(--orange);
  outline-offset: 2px;
}

.header-details {
  display: flex;
  gap: 1.5rem;
}
