@import url("https://api.fontshare.com/v2/css?f[]=clash-grotesk@1&f[]=general-sans@1&display=swap");

:root {
  font-size: 14px;
  --body: "General Sans", sans-serif;
  --headers: "Clash Grotesk", sans-serif;
  --offwhite: #ebe8df;
  --offwhitedark: #dcd8cc;
  --lightgrey: rgb(236, 236, 236);
  --medgrey: rgb(126, 126, 126);
  --darkgrey: rgb(50, 50, 50);
  --accent: rgb(35, 106, 173);
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*:focus,
*:focus-visible {
  outline: 1px solid var(--accent);
}

body {
  font-family: var(--body);
  font-weight: 450;
  background: var(--offwhite);
  color: var(--darkgrey);
}

h1,
h2 {
  font-family: var(--headers);
  font-weight: 666;
  letter-spacing: 0.02rem;
}

.container {
  width: 100vw;
  min-height: 100svh;
  display: grid;
  grid-template-columns: 240px 1fr;
}

/* SIDEBAR */
.sidebar {
  /* background: var(--lightgrey); */
  border-right: 1px solid var(--medgrey);
  padding: 1rem;
}

.sidebar ul {
  list-style-type: none;
  display: grid;
  gap: 0.6rem;
}

.nav {
  margin-top: 3rem;
}

.nav-item > * {
  display: grid;
  grid-template-columns: 48px 1fr;
  padding: 0.5rem;
  /* background: var(--lightgrey); */
  border-radius: 8px;
  font-weight: 500;
  align-items: center;
}

.nav-item a {
  text-decoration: none;
  color: inherit;
  transition: background 100ms ease-out;
}

.nav-item a:hover {
  background: var(--offwhitedark);
}

.nav-item-icon {
  display: grid;
  place-content: center center;
  height: 40px;
}

/* HEADER */
.header {
  padding: 1.5rem 2rem;
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
  /* height: 60px; */
  border-bottom: 1px solid var(--medgrey);
}

.header-search {
  display: flex;
  gap: 0.75rem;
  align-items: center;
  flex-grow: 1;
}

.header-search input {
  width: 80%;
  background: var(--offwhitedark);
  border: none;
  border-radius: 999px;
  padding: 0.5rem 1rem;
}

.header-search input:focus {
  outline: 1px solid var(--accent);
  outline-offset: 2px;
}

.header-details {
  display: flex;
  gap: 1.5rem;
}

.header-details a {
  color: inherit;
  text-decoration: none;
}

/* BANNER */
.banner {
  display: flex;
  padding: 2rem;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.banner span {
  font-weight: 500;
  font-size: 2rem;
}

.banner ul {
  display: flex;
  list-style-type: none;
  gap: 1rem;
}

/* .banner ul li {
  width: 80px;
  background: var(--accent);
  border-radius: 999px;
  padding: 4px;
  text-align: center;
} */

.banner ul a {
  font-family: var(--headers);
  text-decoration: none;
  font-weight: 600;
  color: var(--offwhite);
  background: var(--accent);
  padding: 5px 0 3px;
  width: 80px;
  text-align: center;
  border-radius: 999px;
  transition: color 100ms;
}

.banner ul a:hover {
  color: white;
}

/* MAIN */
.main {
  padding: 2rem;
  padding-right: 3rem;
  display: grid;
  grid-template-columns: 1fr 200px;
  gap: 2rem;
}

.main h2 {
  margin-bottom: 1rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.2rem;
}

.card {
  background: white;
  padding: 3rem 2rem;
  border-radius: 8px;
  display: grid;
  gap: 1rem;
}

.card h3 {
  font-family: var(--body);
  font-weight: 650;
}

.main-side-content div {
  border-top: 1px solid var(--medgrey);
  padding: 1rem 0;
}

.main-side p {
  font-size: 0.9rem;
}

.main-side a {
  text-decoration: none;
  color: var(--medgrey);
}
